// ion-toolbar {
//   --color: #020814;
// }

// ion-title {
//   font-size: 1em;
// }

// ion-button {
//   font-size: 0.7em;
// }

ion-toolbar {
  --background: #141422;
  --color: #fefefe;
}

ion-fab-button {
  --background: #141422;
  --background-activated: #141422;
  --ripple-color: #141422;
}