<ion-tabs>
  <ion-tab-bar mode="ios" slot="bottom">
    <ion-tab-button tab="category">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="variant">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Variant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="product">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label>Category</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
